.war-head{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 44px;
    color:  #CC0033;
    border-bottom: 1px solid #c8c8c8;
    li{
        float: left;
        width: 25%;
        font-size: 14px;
        font-weight: 700;
        margin-top: 12px;
    }
}

.war-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 44px;
    border-top: 1px solid #c8c8c8;
    background-color: #fff;
    color: #ff8000;
    li{
        float: left;
        width: 33%;
        font-weight: 700;
        font-size: 14px;
        margin-top: 12px;
    }
}


.war-container{
    position: absolute;
    top:44px;
    left: 0px;
    right: 0px;
    bottom:44px;

    .content{
        margin-top: 20px;
        width: 100%;
        height: auto;
        overflow: hidden;
        .test{
            padding: 15px;
            width: auto;
        }
        .red{
            background-color: #f30;
        }
        .gay{
            background-color: #888888;
        }
        .blue{
            background-color: #3333FF;
        }
        .yellow{
            background-color: #FFFF33;
        }
    }
    
}


.swipe-war{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    .swipe-container{
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -ms-transition-property: -ms-transform;
        transition-property: transform;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        transition: all .5s ease-out!important;
        -webkit-transition: all .5s ease-out!important;
        -moz-transition: all .5s ease-out!important;
        -ms-transition: all .5s ease-out!important;
        -o-transition: all .5s ease-out!important;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate(0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        .swipe-item{
            display: block;
            width: 200px;
            height: 100%;
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            box-sizing: border-box;
        }
    }
}



.test_txt{
    margin-top: 20px;
    width: 100%;
    height: auto;
}