.swipe-war{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    .swipe-container{
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -ms-transition-property: -ms-transform;
        transition-property: transform;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate(0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        .swipe-item{
            display: block;
            width: auto;
            height: 100%;
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            box-sizing: border-box;
        }
    }
    .swipe-page-list{
        position: absolute;
        left: 0px;
        right: 0px;
        bottom:0px;
        height: 20%;
        overflow: hidden;
        text-align: center;
        li{
            display: inline-block;
            border-radius: 50%;
            background-color: transparent;
            border-style:solid;
            position:relative;
            z-index: 10;
        }
    }
}